[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
psycopg2 = "*"
pillow = "*"
django-bootstrap-modal-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
