{% extends 'image-description/base.html'%}
{% block content%}
<div class="container">
    <div class="row">
        {% if images %}
            <h2 class="text-primary text-center font-italic font-weight-bold my-5 animate__animated animate__fadeIn animate__fadeInDown" id="con">Found {{ images|length }} of searched term {{message}}</h2>
            {% else %}
            <h2 class="text-primary text-center font-italic font-weight-bold my-5 animate__animated animate__fadeIn animate__fadeInDown" id="con">Found 0 images for the search term {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-sm-6 col-md-3">
                    <h1>{{article.category}}</h1>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}