{% extends 'image-description/base.html'%}

{% block content%}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1 class="text-center my-5 animate__animated animate__fadeIn animate__fadeInDown" id="con">The Vault.</h1>
        </div>
        <div class="row">
            {% for image in images %}
            <div class="col-sm-4 my-4 animate__animated animate__fadeIn animate__delay-1s animate__animated animate__fadeIn animate__fadeInUp">
                <div class="card" style="width: 25rem;" id="transparent">
                    <img src="{{image.image.url}}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title ml-2">{{ image.image_name }}</h5>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Image details
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ image.image_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title ml-2">{{ image.image_description }}</h5>
                                        <h5 class="card-title ml-2">{{ image.location }}</h5>
                                        <h5 class="card-title ml-2">{{ image.category }}</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}